{% extends 'base.html' %}
{% load static %}
{% block title %}
    Página Inicial
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<main>
    <div class="news-container">
    {% for news_item in news_list %}
        <a href="{% url 'news-details-page' news_item.id %}" class="news-link">
            <div class="news-card">
                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
                <h2 class="news-title">{{ news_item.title }}</h2>
                <span class="news-date">{{ news_item.created_at|date:"d/m/Y" }}</span>
            </div>
        </a>
    {% endfor %}
  </div>
</main>
{% endblock %}